*{
    border:1px;
}


/*modal margin bug fix */
body {
    padding-right:0px !important;
    margin-right:0px !important;
}
body.modal-open {
    overflow: auto;
}
/* ------------- */


@media (max-width:768px){
    .input-group{
        margin-bottom: 5px;
    }
}
.btn-container {
	padding:5px 0;
	margin-top:5px;
	overflow:hidden
}
.modal-backdrop{
    background-color: aliceblue;
}
.modal-dialog{
    margin-top: 10%;
}
.form-controlGradientBg{
    background-image: linear-gradient(to right,#FFF,#000);
    opacity: 0.85;
    background-size: cover;
}
.formTextBg{
    color: aliceblue;
}
#loginButton{
    padding-top: 5px;
    
}
#loginsignup{
    margin-top 20%;
    right 0;
}
#test{
    padding-left: 10%;
}
.slide1{
  background-image: url('bigcrowd.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide2{
  background-image: url('rehersal.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide3{
  background-image: url('cool-stage.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.carousel-caption h1{
  font-size: 5.4em;
  font-family:'BioRhyme', serif;
  padding-bottom: .4em;
}
.carousel-caption p{
  font-family:'BioRhyme', serif;
  font-size: 2em;
}
table td{
    text-align: center;
}
.whiteborderWPaddding{
    border: 2px solid white;
    padding: 3px;
}
#IDfeaturedDivs{
    text-align: center;
    max-width: 100%;
    background-image: linear-gradient(#000,#666);
}
#theNavBar{
    margin-bottom: -0px;
}
h1{
    font-size: 5.9vw;
    font-family:'BioRhyme', serif;
    color: aliceblue;
}   
footer{
    font-size: 1.5vw;
}
p{
    color: white;
}
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
.thumbnail {
    position:relative;
    overflow:hidden;
}
.modalbg{
    background: url('form-background.jpg') no-repeat center center;
    background-size: cover;
    }
.modalBgVenue{
     background: url('findAVenueModalBg.jpg') no-repeat center center;
     background-size: cover;
     opacity: 1;
}
.FaV-color{
    color: aliceblue; 
    font-size: 3vw;
    font-family:'BioRhyme', serif;
}
.FaV-color-black{
    color: black; 
    font-size: 2vw ;
    font-family:'BioRhyme', serif;
    text-align: center;
    max-width: 100%;
    height: auto;
}
.center{
    text-align:center;
}
.white-bg{
    background-color: white;
    opacity: 0.8;
}
.white-bg-solid{
    max-width: 100%;
    height: auto;
    background-color: black;
    opacity: 1.0 !important;
    color: aliceblue;
}
.pushrighttitle{
    margin: 15px -10px 0px 10px;
}
.pushright{
    
    margin: 12px -10px 15px 10px;
}
.pushlefttitle{
    margin: 5px 10px 0px 0px;
}
.pushleft{
    margin: 12px 10px 15px -10px;
}
.modalbuttonmargin{
    margin-bottom: 15px;
}
.selectpickeralign{
    text-align: center; 
    max-width: 100%;
    height: auto;
}
.fixedd{
    max-width: 100%;
    height: auto;
}
.genretitlefix{
    margin-top: 20px;
}
.featuredDivs{
    width: auto;
    height: auto;
}
.img-captions{
    margin:inherit;
    font-size: 1.2vw;
    color: white;
    font-family: 'BioRhyme', serif;
    background-color: black;
    position:;
    text-align:center;
    opacity: 1;
}
.featuredImages{
    width: 100%;
    z-index:2;
    position: relative;
}
#featuredHeaders{
    background-color: #000;
    text-align: center;
    font-family: 'BioRhyme', serif;
    font-size: 3vw;
    color: white;
}
#whatsNew{
    text-align: center;
    max-width: 100%;
    background-image: linear-gradient(#666,#000);
}
subhead{
    font-weight: 500;
    font-size: 2vw;
    color: aliceblue;
}
#homeContent{
    margin: 0;
    background-image: linear-gradient(#666,#FFF);
    border-radius: 10px;
}
#homeHeader{
    margin-top: 20px;
    background-image: linear-gradient(#666,#FFF);
}

#bandImage{
    border: 2px solid white;
    z-index: 1;
    position: absolute;
    margin: 5px 0px 0px -5px;
    background-size: cover;
    border-radius: 6px;
    min-height: 100%;
    width: 100%;
}
#userProfileContent{
    background-image: repeating-linear-gradient(#fff,#666);
    border-radius: 10px;
}
#profileWrapper{
    background-color: #666;
}
#bandNameHeader{
    min-height: 100%;
    max-height: 100%;
    margin: 0px 0px 0px 28%;
    border-radius: 5px;
    width: 70%;
    position: relative;
}
#editProfileImage{
    position: absolute;
    margin: 3% 0px 2% 0px;
    z-index: 3;
    color: gainsboro;
}
#image-cropper{

}
.cropit-preview {
  /* You can specify preview size in CSS */
    max-height: 100%;
}

#userProfileContent{
    margin: 24px 0px 5px 0px;
    text-align: left;
    font-size: 1.8vw;
    border-radius: 5px;
    width: 100%;
    position: relative;
    
}
#bandName img{
    width:100%;
    height:100%;
    border-radius: 5px;
    margin: -20px 0px;
}
#TEMPUSERNAMELOCATION{
    margin-top:400px;
}

#profileText{
    background-color: grey;
    border-radius: 5px;
    width: 100%;
    position: relative;
    margin: 0 0 0 0;
}

}
#editBannerButton{
    position: absolute;
    margin: 0 0 0 30px;
    color: gainsboro;
}
#editBannerFrameSize{
    width: 100%;
    height: auto;
    background-color: aliceblue;
}
bandbio{
    margin-left: 5px;
    text-align: left;
    font-size: 2vw;
}
#bandBioHeader{
    margin: 0 -30px;
    background-image: linear-gradient(#666,#fff);
}
bandbiotext{
    line-height: 50%;
    font-size: 1.5vw;
    font-family: sans-serif;
    
}
#bandBioTextBox{
    margin: -0px -30px;
    padding: 5px 5px;
}

#bandInfo{
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    margin: 103% 0 0 -5px;
    position: absolute;
    
}
#bandInfoTable{
   position: absolute;
   margin: 0px 0px 0px -15px;
   min-width: 100%;
   min-height: 150%;
   width: 100%;
   color: black;
   font-size: 1.5vw;
   background-color: lightskyblue;
   border: 1px solid white;  
}
#bandInfoTable td{
    border: 1px solid white;
    background-color: powderblue;
}

 /* Style all font awesome icons */
#socialIconsTable td{
    padding: 0px 5px;
}
.fa {
    width:100%;
    height: auto;
    font-size: 2vw;
    border-radius: 5%;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
} 
.fa-soundcloud{
    background:#f70;
    color: white;
}
.fa-instagram{
    background:#bc2a8d;
    color: white;
}

